.maroon { background-color: #370B22; }
.maroon-text { color: #370B22; }

.creamsicle { background-color: #FFB27D !important; }
.creamsicle-text { color: #FFB27D; }
.creamsicle-glow {
	-webkit-box-shadow: 0 0 10px 2px #FFB27D;
	-moz-box-shadow: 0 0 10px 2px #FFB27D;
	box-shadow: 0 0 10px 2px #FFB27D; 
}

.paper, .ReactModal__Content { background-color: #FFFDFA !important; }
.paper-text { color: #FFFDFA; }

.sky { background-color: #609099; }
.sky-text { color: #609099; }

.dark { background-color: #000133; }
.dark-text { color: #00001C; }

.withdarkshadow {
	-webkit-box-shadow: 0 2px 5px 2px rgba(0,1,33, 0.5);
	-moz-box-shadow: 0 2px 5px 2px rgba(0,1,33, 0.5);
	box-shadow: 0 2px 5px 2px rgba(0,1,33, 0.5); 
}

.ReactModal__Overlay {
	background-color: rgba(0, 1, 48, 0.3) !important;
}