.maroon { background-color: #370B22; }
.maroon-text { color: #370B22; }

.creamsicle { background-color: #FFB27D; }
.creamsicle-text { color: #FFB27D; }
.creamsicle-glow {
	-webkit-box-shadow: 0 0 10px 2px #FFB27D;
	-moz-box-shadow: 0 0 10px 2px #FFB27D;
	box-shadow: 0 0 10px 2px #FFB27D; 
}

.paper { background-color: #FFFDFA; }
.paper-text { color: #FFFDFA; }

.sky { background-color: #609099; }
.sky-text { color: #609099; }

.dark { background-color: #000133; }
.dark-text { color: #00001C; }

.navbar.dark .pure-menu-heading {
	color: #FFFDFA !important;
}
.navbar.dark .pure-menu-link:hover {
	background-color: #609099;
}

.withdarkshadow {
	-webkit-box-shadow: 0 2px 5px 2px rgba(0,1,33, 0.5);
	-moz-box-shadow: 0 2px 5px 2px rgba(0,1,33, 0.5);
	box-shadow: 0 2px 5px 2px rgba(0,1,33, 0.5); 
}